body {
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: right, left bottom;
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    font-family: Montserrat;
    font-weight: 700;
    color: hsl(233, 13%, 49%);
    /* color: hsl(228, 45%, 44%); */
}
.container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* flex-basis: 1420px; */
    padding: 20px;
    flex-wrap: wrap;
}
.head-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    /* flex-basis: 375px; */
}
.card h1 {
    font-size: 50px;
    color: hsl(232, 13%, 33%);
}
.card-info {
    text-align: center;
}
.card button {
    border: none;
    width: 100%;
    padding: 10px;
    background-color: hsl(233, 36%, 56%);
    color: white;
    border-radius: 5px;
}
.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(233, 36%, 56%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsla(233, 36%, 56%, 0.529);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsla(233, 36%, 56%, 0.529);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .card:hover {
    background-color: hsl(233, 36%, 56%);
    color: white;
    transform: scale(1.1);
  }
  .card button:hover {
    border: 2px solid white;
    cursor: pointer;
  }